Repository pyastrx/pyastrx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-ast

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".md$"
repos:
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
  - repo: local
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts
        description: checks for files that contain merge conflict strings.
        entry: check-merge-conflict
        language: python
        types: [text]
      - id: check-yaml
        name: check yaml
        description: checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
        stages: [commit]
      - id: check-added-large-files
        name: check for added large files
        description: prevents giant files from being committed.
        entry: check-added-large-files
        language: python
      - id: check-ast
        name: check python ast
        description: simply checks whether the files parse as valid python.
        entry: check-ast
        language: python
        types: [python]

feat: yaml XML tree repr
  pyastrx/axml/__init__.py
  pyastrx/axml/yaml/__init__.py
  pyastrx/axml/yaml/composer.py
  pyastrx/axml/yaml/loader.py
  pyastrx/axml/yaml/nodes.py
  pyastrx/axml/yaml/yaml2xml.py
Due: check-ast

feat: allow specifications with yaml and python
  docs/source/the_yaml.rst
  pyastrx.yaml
  pyastrx/ast/ast2xml.py
  pyastrx/config.py
  pyastrx/data_typing.py
  pyastrx/frontend/cli.py
  pyastrx/frontend/manager.py
  pyastrx/frontend/state_machine.py
  pyastrx/report/humanize.py
  pyastrx/search/main.py
  pyastrx/search/xml_search.py
  tests/test_search.py
Due: check-yaml, check-ast

docs: fix yaml typo
  docs/source/the_yaml.rst
Due: none

fix: yaml line number
  pyastrx/axml/yaml/nodes.py
Due: check-ast

docs: update changelog and examples section with yaml
  CHANGELOG.md
  docs/source/examples.rst
  pyastrx.yaml
Due: check-yaml

feat: allow to set files inside of a specification
  pyastrx/frontend/cli.py
Due: check-ast

fix: normalize_ast shoul go outside of a rule spec
  pyastrx/config.py
Due: check-ast

refactor: yaml and python things2axml should be in same folder
  pyastrx/axml/python/__init__.py
  pyastrx/axml/python/ast2xml.py
  pyastrx/axml/python/things2ast.py
  pyastrx/frontend/state_machine.py
  pyastrx/search/main.py
Due: check-ast

fix: star imports
  pyastrx/axml/yaml/composer.py
  pyastrx/axml/yaml/loader.py
  pyastrx/axml/yaml/nodes.py
Due: check-ast

docs(yaml): new examples using dbt spec
  docs/source/examples.rst
  pyastrx.yaml
Due: check-yaml

docs: changelog 0.5.0
  CHANGELOG.md
Due: none

fix(pep8): minors
  pyastrx/axml/yaml/composer.py
  pyastrx/axml/yaml/nodes.py
  pyastrx/data_typing.py
  pyastrx/frontend/cli.py
  pyastrx/frontend/state_machine.py
  pyastrx/report/humanize.py
  pyastrx/search/main.py
Due: check-ast

build: prepare release 0.5.0
  CHANGELOG.md
  pyastrx/__init__.py
  setup.py
Due: check-ast

chore: typing-extensions req
  requirements.in
  requirements.txt
  requirements_dev.txt
  requirements_doc.txt
  setup.py
Due: check-ast

fix: allows to select a specification
  pyastrx/frontend/cli.py
Due: check-ast

fix: check if has any files to be analyzed
  pyastrx/search/main.py
Due: check-ast

build: prepare release 0.5.1
  CHANGELOG.md
  docs/source/examples.rst
  pyastrx.yaml
  pyastrx/__init__.py
  test.yaml
Due: check-yaml, check-ast

docs: fix examples
  docs/source/examples.rst
  pyastrx.yaml
Due: check-yaml

docs: fix examples (#56)
  docs/source/examples.rst
  pyastrx.yaml
Due: check-yaml

docs: fix examples description
  docs/source/examples.rst
Due: none

fix: append file ext due yaml file support
  pyastrx/folder_utils.py
  pyastrx/frontend/state_machine.py
  pyastrx/search/cache.py
Due: check-ast

fix: allows to mix different file formats in -f arg
  pyastrx/frontend/cli.py
Due: check-ast

chore: prepare release 0.5.2
  .pre-commit-config.yaml
  .pre-commit-hook/main.py
  CHANGELOG.md
  docs/source/index_content.rst
  pyastrx.yaml
  pyastrx/__init__.py
  setup.py
Due: check-yaml, check-ast

refactor: split the function into two smaller for improved readability
  pyastrx/axml/yaml/yaml2xml.py
Due: check-ast

feat: implements watch mode
  README.rst
  docs/source/cli.rst
  pyastrx/frontend/cli.py
  requirements.in
  requirements.txt
  requirements_dev.txt
  setup.py
Due: check-ast

feat: vscode integration
  pyastrx.yaml
  pyastrx/frontend/manager.py
  pyastrx/search/main.py
  pyastrx/search/xml_search.py
Due: check-yaml, check-ast

tests: txt and axml tests
  .gitignore
  requirements_doc.txt
  tests/test_axml.py
  tests/test_misc.py
  tests/test_txt_tools.py
Due: check-ast

release 0.5.3
  CHANGELOG.md
  docs/source/examples.rst
  docs/source/the_yaml.rst
  invalid_py_file.py
  pyastrx.yaml
  pyastrx/__init__.py
  pyastrx/axml/python/things2ast.py
  pyastrx/axml/yaml/yaml2xml.py
  pyastrx/config.py
  pyastrx/data_typing.py
  pyastrx/frontend/cli.py
  pyastrx/frontend/manager.py
  setup.py
  test.yaml
  tests/dummy_examples/defaults.py
  tests/test_axml.py
Due: check-yaml, check-ast

build: upgrade deps
  requirements.txt
  requirements_dev.txt
  requirements_doc.txt
Due: none

fix: remove reload yaml option interface
  pyastrx/frontend/manager.py
  pyastrx/frontend/state_machine.py
Due: check-ast

chore: release 0.6.0
  pyastrx/__init__.py
  setup.py
Due: check-ast

chore: remove invalid py file
  invalid_py_file.py
Due: check-ast
