Repository pyastrx/pyastrx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-ast

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: python
  stages:
  - commit

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: python

fix: pep8 issues
  pyastrx/ast/ast2xml.py
  pyastrx/data_typing.py
  pyastrx/search/xml_search.py
Due: check-ast

fix!: mypy error for py38
  pyastrx/ast/things2ast.py
Due: check-ast

fix: typing for 3.7. Simplify state machine cli
  pyastrx/ast/things2ast.py
  pyastrx/frontend/state_machine.py
Due: check-ast

fix!: typing promptsession
  pyastrx/frontend/state_machine.py
Due: check-ast

fix: typing for prompsession
  pyastrx/frontend/state_machine.py
Due: check-ast

docs: organization and typos
  README.md
  docs/source/cli.rst
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/index_content.rst
Due: none

perf: and fix. duplication probably that came from ctrl+c and ctrl+v
  pyastrx/frontend/manager.py
Due: check-ast

docs: remove header. forgot to add to 8caae78678d
  docs/source/the_yaml.rst
Due: none

ci: ignore pyre related files
  .gitignore
Due: none

feat!: this is just where the stuff should go after the mypy int
  pyastrx/inference/normalization.py
Due: check-ast

feat: pyre first integration
  pyastrx.yaml
  pyastrx/ast/ast2xml.py
  pyastrx/data_typing.py
  pyastrx/frontend/cli.py
  pyastrx/inference/__init__.py
  pyastrx/inference/pyre.py
  pyastrx/search/main.py
Due: check-yaml, check-ast

fix: TypedDict change condition due gh action
  pyastrx/data_typing.py
Due: check-ast

fix: escape to avoid some issues
  pyastrx.yaml
Due: check-yaml

escape the underscore for regex.
  pyastrx/ast/ast2xml.py
Due: check-ast

perf: avoid doing this when the attr will not be used
  pyastrx/ast/ast2xml.py
Due: check-ast

perf: avoid using type inference with Constant nodes
  pyastrx/ast/ast2xml.py
Due: check-ast

by defult, pyre should be disabled inside the main branch
  pyastrx.yaml
Due: check-yaml

ci: release and pypi publish
  .github/workflows/draft_release.yaml
  .github/workflows/release.yaml
Due: check-yaml

prepare release 0.3.0
  CHANGELOG.md
  pyastrx/__init__.py
  setup.py
Due: check-ast

fix: name and value was not encoded when tag != Constant
  pyastrx/ast/ast2xml.py
Due: check-ast

docs: changelog 0.3.0
  CHANGELOG.md
Due: none

Rename draft_release.yaml to draft_release.yaml.bak
  .github/workflows/draft_release.yaml.bak
Due: none

feat: mypy query type
  pyastrx/data_typing.py
  pyastrx/frontend/mypyq.py
  pyastrx/inference/mypy.py
  pyastrx/inference/mypy_visitor.py
  pyastrx/inference/normalization.py
  pyastrx/search/main.py
  setup.py
Due: check-ast

fix: pep8 issues
  pyastrx/inference/mypy_visitor.py
Due: check-ast

fix!: until the mypy end_col_offset be available
  pyastrx/inference/mypy_visitor.py
Due: check-ast

fix: mypy inference will return at least an empty list
  pyastrx/inference/mypy.py
Due: check-ast

feat: axml cache implementation
  pyastrx/ast/ast2xml.py
  pyastrx/ast/things2ast.py
  pyastrx/data_typing.py
  pyastrx/frontend/cli.py
  pyastrx/search/cache.py
  pyastrx/search/main.py
Due: check-ast

feat: add mypy is_attr and node_name
  pyastrx/ast/ast2xml.py
Due: check-ast

chore: add mypy is_attr and node_name
  pyastrx/ast/ast2xml.py
Due: check-ast

build: prepare release 0.4.0
  CHANGELOG.md
  pyastrx/__init__.py
  setup.py
Due: check-ast

fix: xpaths are now key value pairs
  CHANGELOG.md
  docs/source/examples.rst
  pyastrx.yaml
  pyastrx/__init__.py
  pyastrx/ast/ast2xml.py
  pyastrx/config.py
  pyastrx/frontend/cli.py
  setup.py
Due: check-yaml, check-ast

fix: security lxml version CVE-2022-2309
  CHANGELOG.md
  pyastrx/config.py
  requirements.in
  requirements.txt
Due: check-ast

fix: xpath evaluator
  pyastrx/search/xml_search.py
Due: check-ast

fix: security lxml version CVE-2022-2309
  requirements.in
  requirements.txt
Due: none

fix: xpaths are now key value pairs
  CHANGELOG.md
  docs/source/examples.rst
  pyastrx.yaml
  pyastrx/__init__.py
  pyastrx/config.py
  pyastrx/frontend/cli.py
  setup.py
Due: check-yaml, check-ast

fix: pep8 issues
  pyastrx/config.py
  pyastrx/frontend/cli.py
Due: check-ast

fix: security lxml version CVE-2022-2309 (setup.py)
  CHANGELOG.md
  pyastrx/__init__.py
  setup.py
Due: check-ast

fix: mypy optional
  pyastrx/inference/mypy.py
  pyastrx/inference/mypy_visitor.py
Due: check-ast

fix: check if less exists before using pydoc
  pyastrx/report/stdout.py
Due: check-ast

build: prepare release 0.4.3
  CHANGELOG.md
  pyastrx/__init__.py
  setup.py
Due: check-ast

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: .md$
  check-ast: any of: \.py$, but not: .md$
