Repository pyastrx/pyastrx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-ast

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".md$"
repos:
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
  - repo: local
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts
        description: checks for files that contain merge conflict strings.
        entry: check-merge-conflict
        language: python
        types: [text]
      - id: check-yaml
        name: check yaml
        description: checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
        stages: [commit]
      - id: check-added-large-files
        name: check for added large files
        description: prevents giant files from being committed.
        entry: check-added-large-files
        language: python
      - id: check-ast
        name: check python ast
        description: simply checks whether the files parse as valid python.
        entry: check-ast
        language: python
        types: [python]

fix: ci
  .github/workflows/test.yaml
  .pre-commit-config.yaml
Due: check-yaml

chore: watchdog support 3.8 py
  requirements.txt
Due: none

chore: dep rich markdown
  requirements.txt
Due: none

fix: gast new type_params invalid attr
  pyastrx/axml/python/ast2xml.py
Due: check-ast

style: def same name as inside var
  pyastrx/axml/yaml/nodes.py
  pyastrx/axml/yaml/yaml2xml.py
Due: check-ast

chore: exclude tests pre-commit
  .pre-commit-config.yaml
Due: check-yaml

chore: pygements py3.7
  requirements.txt
Due: none

chore: exclude tests pre-commit
  .github/workflows/test.yaml
  .pre-commit-config.yaml
Due: check-yaml

fix: types visitor
  pyastrx/axml/python/things2ast.py
  pyastrx/axml/yaml/yaml2xml.py
  pyastrx/frontend/cli.py
  pyastrx/inference/mypy_visitor.py
Due: check-ast

chore: remove invalid py file
  invalid_py_file.py
Due: check-ast

chore: release 0.6.0
  pyastrx/__init__.py
  setup.py
Due: check-ast

fix: remove reload yaml option interface
  pyastrx/frontend/manager.py
  pyastrx/frontend/state_machine.py
Due: check-ast

build: upgrade deps
  requirements.txt
  requirements_dev.txt
  requirements_doc.txt
Due: none

chore: changie doc
  CHANGELOG.md
Due: none

fix: utf8 encoding win
  pyastrx/axml/python/ast2xml.py
  pyastrx/axml/python/things2ast.py
  pyastrx/axml/yaml/yaml2xml.py
  pyastrx/frontend/cli.py
  pyastrx/frontend/state_machine.py
Due: check-ast

fix: output windowns
  CHANGELOG.md
  pyastrx/__init__.py
  pyastrx/report/stdout.py
  setup.py
Due: check-ast
